In [1]:
# Import Modules
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# Extract WHO Happiness CSV into DF
happy_file = "Resources/world_happiness_index_2017.csv"
happy_df = pd.read_csv(happy_file)
happy_df.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [6]:
# Extract alchohol abuse CSV into DF
alcohol_file = "Resources/alcoholSubstanceAbuse.csv"
alcohol_df = pd.read_csv(alcohol_file)
alcohol_df.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
1,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Male,0.360
2,Afghanistan,2018,Total (recorded+unrecorded) alcohol per capita...,Female,0.055
3,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Both sexes,0.210
4,Afghanistan,2015,Total (recorded+unrecorded) alcohol per capita...,Male,0.350

In [7]:
# Extract antidepressant CSV into DF
depress_file = "Resources/List_of_countries_by_antidepressant_consumption.csv"
depress_df = pd.read_csv(depress_file)
depress_df.head()

,Country,Defined daily dosage per 1 000 inhabitants per day,Year,Data include drugs dispensed in hospitals,Data include non-reimbursed drugs,Data include OTC drugs,Notes
0,Iceland,141.4,2017,NaN,NaN,NaN,NaN
1,Australia,106.7,2016,NaN,NaN,NaN,NaN
2,Portugal,103.6,2017,NaN,Data include both reimbursed and non-reimburse...,"Yes, but only OTC products sold in pharmacies.",NaN
3,United Kingdom,100.1,2016,NaN,NaN,NaN,NaN
4,Canada,99.6,2017,NaN,NaN,"See note Generally, claims for OTC drugs are n...",Provisional value.